# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
dist/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Node
node_modules/
.env.local

# Env
.env
*.env

# Build
/build
/frontend/dist

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Logs
*.log
npm-debug.log*
